# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Test coverage
.coverage
htmlcov/

# Compressed files created by the tool
*.gz 